[Unit]
Description=Fan speed kurve for NZXT kraken

[Service]
Type=oneshot
ExecStart=liquidctl --match kraken set fan speed  20 30  30 30  34 50  40 70  50 100
ExecStart=liquidctl set pump speed 90
ExecStart=liquidctl set ring color fading ff0000 ff0000
ExecStart=liquidctl set logo color fading ff0000 ff0000

[Install]
WantedBy=multi-user.target
