[Unit]
Description=Peer to Peer syncronizing

[Service]
ExecStart=syncthing -no-browser
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
