.DS_Store
.idea
*.log
tmp/

.make.*

# Configs
.config/*
!.config/sway
!.config/alacritty
!.config/nvim
!.config/rofi
!.config/sxhkd
!.config/systemd
!.config/user-dirs.conf
!.config/mako

# Locals
.local/*
!.local/share/applications
