snippet figure 
\begin{figure}[H]
	\centering
	\includegraphics[width=0.95\linewidth]{${1}}
	\caption{${2}}
	\label{fig:${3}}
\end{figure}
${4}
endsnippet

snippet sec 
\section{${1}}
${2}
endsnippet

snippet ssec 
\subsection{${1}}
${2}
endsnippet

snippet sssec 
\subsubsection{${1}}
${2}
endsnippet

snippet it
\textit{${1}} ${2}
endsnippet

snippet bf
\textbf{${1}} ${2}
endsnippet

snippet em
\emph{${1}} ${2}
endsnippet

snippet ol
\begin{itemize}
	\item[] ${1}
\end{itemize}
${2}
endsnippet
